CREATE TABLE dim_tracks (
    track_id VARCHAR PRIMARY KEY,
    track_name VARCHAR,
    artist_name VARCHAR,
    album_name VARCHAR,
    duration_ms INT,
    popularity INT
);

CREATE TABLE dim_audio_features (
    track_id VARCHAR PRIMARY KEY,
    danceability FLOAT,
    energy FLOAT,
    key INT,
    loudness FLOAT,
    speechiness FLOAT,
    acousticness FLOAT,
    instrumentalness FLOAT,
    liveness FLOAT,
    valence FLOAT,
    tempo FLOAT
);

CREATE TABLE fact_listening_history (
    played_at TIMESTAMP PRIMARY KEY,
    track_id VARCHAR REFERENCES dim_tracks(track_id)
);
